.landing-page{
    background-image: url('../../images/Hero.png');
    height: 80vh;
    /* padding-top: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-book-fly {
  font-size: 68px;
  font-weight: bold;
  background: linear-gradient(45deg, #3b82f6, #8b5cf6); /* blue to violet */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
