.buttons-seats{
    display: flex;
    flex-direction: row;
    gap: 75px;
    margin-top: 20px;
}
.flightInfoCard{
    display: flex;
  justify-content: flex-end;
}

.box-seats{
  display:flex;
  gap:35px;
  justify-content: space-evenly;
}