.payment-detail{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 50px;
}

.buttons-pay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 70px;
    gap:30px;
}